<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_383f8b25141c4fa095a7094305ecb20f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_383f8b25141c4fa095a7094305ecb20f" ></div>
        
</body>
<script>    
    
            var map_383f8b25141c4fa095a7094305ecb20f = L.map(
                "map_383f8b25141c4fa095a7094305ecb20f",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f20f38143a99493bb892a47049fd90e4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var marker_5e847a35e621475f9ec308a9c56b0d35 = L.marker(
                [57.007263249999994, -156.4775159194451],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_b9f22803cad84862838fb09a8336e9be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5e847a35e621475f9ec308a9c56b0d35.setIcon(icon_b9f22803cad84862838fb09a8336e9be);
        
    
        var popup_da885baef06e4df88eb5c0a02b62debd = L.popup({"maxWidth": "100%"});

        
            var html_deba54955b644f3b9c682dd5f201ed67 = $(`<div id="html_deba54955b644f3b9c682dd5f201ed67" style="width: 100.0%; height: 100.0%;">DOmelkina</div>`)[0];
            popup_da885baef06e4df88eb5c0a02b62debd.setContent(html_deba54955b644f3b9c682dd5f201ed67);
        

        marker_5e847a35e621475f9ec308a9c56b0d35.bindPopup(popup_da885baef06e4df88eb5c0a02b62debd)
        ;

        
    
    
            var marker_6c390b45929441c5869b930df45a2680 = L.marker(
                [-32.0967361, -63.7940923],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_0ebdd452187a49fa8ed14902b8e2c675 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6c390b45929441c5869b930df45a2680.setIcon(icon_0ebdd452187a49fa8ed14902b8e2c675);
        
    
        var popup_9aa84e076fae4ff4830e01f13a9dfda8 = L.popup({"maxWidth": "100%"});

        
            var html_296a9d9e638742afbbe7aedb12d48271 = $(`<div id="html_296a9d9e638742afbbe7aedb12d48271" style="width: 100.0%; height: 100.0%;">quadritt</div>`)[0];
            popup_9aa84e076fae4ff4830e01f13a9dfda8.setContent(html_296a9d9e638742afbbe7aedb12d48271);
        

        marker_6c390b45929441c5869b930df45a2680.bindPopup(popup_9aa84e076fae4ff4830e01f13a9dfda8)
        ;

        
    
    
            var marker_651bb4efac3147008d157d1df183961f = L.marker(
                [55.4792046, 37.3273304],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_ed984b7c914247df81026ef4b5c205a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_651bb4efac3147008d157d1df183961f.setIcon(icon_ed984b7c914247df81026ef4b5c205a5);
        
    
        var popup_b6ec1318fc24414db108ee742df86950 = L.popup({"maxWidth": "100%"});

        
            var html_2aa10282c79b4308a4f93bd17e2b5ecb = $(`<div id="html_2aa10282c79b4308a4f93bd17e2b5ecb" style="width: 100.0%; height: 100.0%;">zabuivchivaya</div>`)[0];
            popup_b6ec1318fc24414db108ee742df86950.setContent(html_2aa10282c79b4308a4f93bd17e2b5ecb);
        

        marker_651bb4efac3147008d157d1df183961f.bindPopup(popup_b6ec1318fc24414db108ee742df86950)
        ;

        
    
    
            var marker_cc645b22b09f4dcd9ef971221e3a5e3c = L.marker(
                [53.2423778, 34.3668288],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_9f5b393f0f1b40dbae7236d63fdd8e33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cc645b22b09f4dcd9ef971221e3a5e3c.setIcon(icon_9f5b393f0f1b40dbae7236d63fdd8e33);
        
    
        var popup_557252cf270d403c959eb57e16595179 = L.popup({"maxWidth": "100%"});

        
            var html_1d6be1f81121410890c2a0746d00a1c0 = $(`<div id="html_1d6be1f81121410890c2a0746d00a1c0" style="width: 100.0%; height: 100.0%;">tvoyi_muziki</div>`)[0];
            popup_557252cf270d403c959eb57e16595179.setContent(html_1d6be1f81121410890c2a0746d00a1c0);
        

        marker_cc645b22b09f4dcd9ef971221e3a5e3c.bindPopup(popup_557252cf270d403c959eb57e16595179)
        ;

        
    
    
            var marker_85c79dc906a046628b7cc59e127256a5 = L.marker(
                [53.4250605, 27.6971358],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_ae40aba4766549699a7a25f9bd8114fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_85c79dc906a046628b7cc59e127256a5.setIcon(icon_ae40aba4766549699a7a25f9bd8114fe);
        
    
        var popup_b2dd9ee35c604e45a2b8f082619b8f75 = L.popup({"maxWidth": "100%"});

        
            var html_40623731b5ce4b828b9835250f78586f = $(`<div id="html_40623731b5ce4b828b9835250f78586f" style="width: 100.0%; height: 100.0%;">rijsamurai</div>`)[0];
            popup_b2dd9ee35c604e45a2b8f082619b8f75.setContent(html_40623731b5ce4b828b9835250f78586f);
        

        marker_85c79dc906a046628b7cc59e127256a5.bindPopup(popup_b2dd9ee35c604e45a2b8f082619b8f75)
        ;

        
    
    
            var marker_22e708dc319e4e37b6337e268888e22f = L.marker(
                [59.9606739, 30.1586551],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_d1494946c3c843c7b4b5c61e21ab8864 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_22e708dc319e4e37b6337e268888e22f.setIcon(icon_d1494946c3c843c7b4b5c61e21ab8864);
        
    
        var popup_06da22623aa9427bbde3dedcfbf8b4a5 = L.popup({"maxWidth": "100%"});

        
            var html_7c17a5ed4a3b449fac9ac67ac42fdacf = $(`<div id="html_7c17a5ed4a3b449fac9ac67ac42fdacf" style="width: 100.0%; height: 100.0%;">sitovskaya</div>`)[0];
            popup_06da22623aa9427bbde3dedcfbf8b4a5.setContent(html_7c17a5ed4a3b449fac9ac67ac42fdacf);
        

        marker_22e708dc319e4e37b6337e268888e22f.bindPopup(popup_06da22623aa9427bbde3dedcfbf8b4a5)
        ;

        
    
    
            var marker_c44ad0bf41094012bed7e7ad84365671 = L.marker(
                [49.9902794, 36.2303893],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_2a0c3a7d60904bc0a97d67b58a5606c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c44ad0bf41094012bed7e7ad84365671.setIcon(icon_2a0c3a7d60904bc0a97d67b58a5606c4);
        
    
        var popup_f69636b8aae7479d92970d45691a3578 = L.popup({"maxWidth": "100%"});

        
            var html_2b778d02e4ec45c797098bed01013be6 = $(`<div id="html_2b778d02e4ec45c797098bed01013be6" style="width: 100.0%; height: 100.0%;">murderbffs</div>`)[0];
            popup_f69636b8aae7479d92970d45691a3578.setContent(html_2b778d02e4ec45c797098bed01013be6);
        

        marker_c44ad0bf41094012bed7e7ad84365671.bindPopup(popup_f69636b8aae7479d92970d45691a3578)
        ;

        
    
    
            var marker_918992e3a08041bd9c2dfff6127a0c6d = L.marker(
                [45.3842702, -73.995482],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_8efb64f08c8c420baec5026622d526ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_918992e3a08041bd9c2dfff6127a0c6d.setIcon(icon_8efb64f08c8c420baec5026622d526ac);
        
    
        var popup_85992c25a2fb4d83b8beb9c416d2d308 = L.popup({"maxWidth": "100%"});

        
            var html_7e862a8093384af8af41b88e1ad35f6e = $(`<div id="html_7e862a8093384af8af41b88e1ad35f6e" style="width: 100.0%; height: 100.0%;">ChgkDaily</div>`)[0];
            popup_85992c25a2fb4d83b8beb9c416d2d308.setContent(html_7e862a8093384af8af41b88e1ad35f6e);
        

        marker_918992e3a08041bd9c2dfff6127a0c6d.bindPopup(popup_85992c25a2fb4d83b8beb9c416d2d308)
        ;

        
    
    
            var marker_151eda48c4074716a564c7b21eabc788 = L.marker(
                [33.2707213, 102.9248491],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_06ac19c9114f42b4b50cac474ce51d7e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_151eda48c4074716a564c7b21eabc788.setIcon(icon_06ac19c9114f42b4b50cac474ce51d7e);
        
    
        var popup_4e7d152a4bb14d3caaba841d38e303fe = L.popup({"maxWidth": "100%"});

        
            var html_75633a06634e4f69a6910aa9d87fac1f = $(`<div id="html_75633a06634e4f69a6910aa9d87fac1f" style="width: 100.0%; height: 100.0%;">miy_yuu</div>`)[0];
            popup_4e7d152a4bb14d3caaba841d38e303fe.setContent(html_75633a06634e4f69a6910aa9d87fac1f);
        

        marker_151eda48c4074716a564c7b21eabc788.bindPopup(popup_4e7d152a4bb14d3caaba841d38e303fe)
        ;

        
    
    
            var marker_19f606d158a04405b12dd8005b36a749 = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(map_383f8b25141c4fa095a7094305ecb20f);
        
    
            var icon_c86a2d8d65e74fbe9fdc21844972332a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_19f606d158a04405b12dd8005b36a749.setIcon(icon_c86a2d8d65e74fbe9fdc21844972332a);
        
    
        var popup_22444bb5819044abbce628c10a766423 = L.popup({"maxWidth": "100%"});

        
            var html_849739b060364f158a3796a585b6960b = $(`<div id="html_849739b060364f158a3796a585b6960b" style="width: 100.0%; height: 100.0%;">JunCurryAhn</div>`)[0];
            popup_22444bb5819044abbce628c10a766423.setContent(html_849739b060364f158a3796a585b6960b);
        

        marker_19f606d158a04405b12dd8005b36a749.bindPopup(popup_22444bb5819044abbce628c10a766423)
        ;

        
    
</script>